$dark_black: #333333;
$light_black: #111111;
$citrus: #A5C926;
$orange: #FFC12C;
$pink: #FB416B;
$white: #FFFFFF;
$light_grey: #999999;
$grey: #FFFFFF40;

$open_sans: "Open Sans", serif;
$varela_round: "Varela Round", serif;